@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
